# User-specific settings
.idea/

# Build files
/build/

# Gradle files
.gradle/
gradlew.bat

# Local configuration file
local.properties

# Module files
*.iml

# Mac folder settings
.DS_Store

# VS Code settings
.vscode/

# Screen captures
/captures/

# Native build folders
.externalNativeBuild/
.cxx

# Compressed files
*.zip
*.rar
